<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project2</display-name>
  <welcome-file-list>
    <welcome-file>begin2.omok</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>omok</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omok</servlet-name>
    <url-pattern>*.omok</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>OmokServlet</display-name>
    <servlet-name>OmokServlet</servlet-name>
    <servlet-class>omok.OmokServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OmokServlet</servlet-name>
    <url-pattern>/OmokServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>board.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/BoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayServlet</display-name>
    <servlet-name>PlayServlet</servlet-name>
    <servlet-class>play.PlayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayServlet</servlet-name>
    <url-pattern>/PlayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Filter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
